html {
  font-size: 100px;
  max-width: 450px;
  background-color: #efeff4;
  margin: 0 auto;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  min-height: 100%;
  line-height: 1.6;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  max-width: 450px;
  height: .42rem;
  margin: 0 auto;
  padding: .02rem 0;
  box-sizing: border-box;
  font-size: .155rem;
  line-height: 0.38rem;
}

.header-left {
  position: absolute;
  top: 10px;
  left: 20px;
}

.header-right {
  position: absolute;
  right: 18px;
  font-size: .14rem;
  color: #333;
}

.header-title {
  position: absolute;
  box-sizing: border-box;
  padding: 0 1.3rem;
  width: auto;
  font-size: .155rem;
  height: 0.38rem;
  line-height: 0.38rem;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header-ink-bar {
  height: 2px;
  background-color: #32c5bd;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: auto;
}

.header + div {
  padding-top: .42rem;
}

/* 样式覆盖，走马灯两边贴框 */
.am-wingblank.am-wingblank-lg {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* 走马灯a标签样式 */
.carousel-a {
  display: inline-block;
  width: 100%;
  height: 220px;
}

.header-carousel-box-two .carousel-a {
  height: 275px;
}

.mainEntry {
  width: 100%;
}

.clearBoth {
  clear: both;
}

.mainEntry a img {
  width: 33.333%;
  display: block;
  float: left;
}

.convenient-entry {
  margin-top: .1rem;
  background-color: #fff;
  border-bottom: 1px solid #d6d6d6;
}

.convenient-entry-header {
  line-height: .4rem;
  position: relative;
}


.convenient-entry-head-border {
  position: absolute;
  top: .14rem;
  left: .1rem;
  width: .04rem;
  height: .12rem;
  background: #32C5BD;
  border-radius: .015rem;
}

.convenient-entry-header-title {
  margin-left: .20rem;
}

.convenient-entry a {
  box-sizing: border-box;
  height: 0.8rem;
  vertical-align: middle;
  display: inline-block;
  width: 50%;
  font-size: 0.16rem;
  position: relative;
  padding: 0.28rem 0.2rem 0.1rem;
}

.convenient-entry-Linefeed {
  margin-top: -0.08rem;
  display: inline-block;
}

.convenient-entry-Linefeed-twoline {
  font-size: 0.12rem;
  color: #999;
}

.border-l {
  border-left: 1px solid #d6d6d6;
}

.border-r {
  border-right: 1px solid #d6d6d6;
}

.border-t {
  border-top: 1px solid #d6d6d6;
}

.border-b {
  border-bottom: 1px solid #d6d6d6;
}

.convenient-entry-img {
  width: 19%;
  position: absolute;
  top: .22rem;
  right: .20rem;
}

.header-carousel-box-two {
  margin-top: .1rem;
}

.introduceHeaderBg {
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  margin-top: 0.15rem;
  padding: 0.61rem 0.15rem 0.1rem;
  background: url('./images/hosintro.png') no-repeat top #fff;
  background-size: 100%;
}
.introduceHeaderBg p {
  height: .99rem;
  width: 100%;
  color: #666;
  font-size: .1rem;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
}

footer {
  background: #fff;
  margin: .15rem 0 0;
  padding-bottom: .1rem;
  border-top: 0.04rem solid #000;
  border-image: url('./images/caitiao.png') 10 0 repeat;
  text-align: center;
}

footer img {
  width: 16%;
  border-radius: 3px;
  margin-top: .1rem;
}

.footer-part-1 {
  color: #333;
  font-size: .16rem;
  line-height: .35rem;
  padding: 0 .15rem;
}

.footer-part-2 {
  font-size: .12rem;
  color: #32c5bd;
  padding: 0 .15rem;
  line-height: .35rem;
}

.footer-part-3 {
  color: #999;
  font-size: .12rem;
  line-height: .2rem;
  padding: 0 0.15rem;
  margin-top: .1rem;
}

.footer-part-4 {
  font-size: .17rem;
  display: block;
  width: 80%;
  border-radius: 5px;
  margin: .05rem auto;
  line-height: .4rem;
  border: 1px solid #32c5bd;
  color: #32c5bd;
}

.footer-bg {
  padding-top: .55rem;
  padding-bottom: .1rem;
  flex: 0 0 auto;
  color: #999;
  font-size: 14px;
  text-align: center;
}

.footer-bg > span + span {
  margin-left: 6px;
}